<section class="bg-white">
  <div class="container mx-auto">
  <%# VENUE NAME & ADDRESS %>
    <div     class="sm:px-8 sm:py-6 md:py-10">

      <div class="relative z-10 pb-3 sm:bg-none">
        <h2 class="text-xl font-semibold text-gray-900 sm:text-2xl sm:leading-7 sm:text-black md:text-3xl"><%= @venue.name %></h2>
        <div class="col-start-1 row-start-2">
          <div class="flex items-left text-sm font-medium sm:mt-2 sm:mb-2">
            <svg width="20" height="20" fill="currentColor" class="text-blue-700">
              <path d="M9.05 3.691c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.372 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.539 1.118l-2.8-2.034a1 1 0 00-1.176 0l-2.8 2.034c-.783.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.363-1.118l-2.8-2.034c-.784-.57-.381-1.81.587-1.81H7.03a1 1 0 00.95-.69L9.05 3.69z" />
            </svg>
            <div class="ml-1">
              <span class="text-gray-900">4.94</span>
              <span class="sm:hidden md:inline">(28)</span>
            </div>
            <div class="text-base font-normal mx-2">·</div>
          </div>

        <p class="text-sm font-medium text-gray-700 sm:mb-1"><%= @venue.address %></p>
        </div>
          <hr class="w-16 border-gray-300 hidden sm:block">
      </div>

      <%# AVAILABILITY %>
      <%# <div class="col-start-1 row-start-3 space-y-3 px-4">
        <button type="button" class="bg-violet-100 text-violet-700 border-2 border-white text-base font-semibold px-6 py-2 rounded-lg">Check availability</button>
      </div> %>
      <div class="w-full h-96 grid grid-cols-3 grid-rows-2 gap-2">
        <div class="relative col-span-3 row-span-2 md:col-span-2">
          <img src="https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="" class="absolute inset-0 w-full h-full object-cover bg-gray-100 sm:rounded-lg" />
        </div>
        <div class="relative hidden md:block">
          <img src="https://images.unsplash.com/photo-1517502884422-41eaead166d4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1325&q=80" alt="" class="absolute inset-0 w-full h-full object-cover rounded-lg bg-gray-100" />
        </div>
        <div class="relative hidden md:block">
          <img src="https://images.unsplash.com/photo-1525896544042-354764aa27e6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="" class="absolute inset-0 w-full h-full object-cover rounded-lg bg-gray-100" />
        </div>
      </div>


    </div>


  </div>
</section>

<%#
          <% @spaces.each do |space| %>
            <%# <%= render 'space', space: space
          <% end %> %> %>
