
<div class="p-2 max-w-xl mx-auto">
<section class="footer-ht bg-white p-8">
  <div class="d-flex justify-content-center">
    <div class="h-full mb-4 p-2 rounded-2xl">
      <h1 class="text-xl d-flex justify-content-center mt-4 mb-3 font-weight-bold"> Add the space </h1>
      <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
        <div class="flex flex-col">
          <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
              <div class="p-3 max-w-xxl mx-auto">
                <%= render 'form' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
