<h1>Booked</h1>


<% @space.bookings.each do |booking| %>
    <%= booking.user.email %>
    <%= booking.start.strftime("%d/%m/%Y %I-%M%p") %>
    <%= booking.finish.strftime("%d/%m/%Y %I-%M%p") %> <br>
<% end %>
