<h1>bookings</h1>
<% @bookings.each do |booking| %>
    <%= booking.start.strftime("%d/%m/%Y %I-%M%p") %>
    <%= booking.finish.strftime("%d/%m/%Y %I-%M%p") %>
    <%= booking.space.name %>
<% end %>