<<<<<<< HEAD
<h1>bookings</h1>
<% @bookings.each do |booking| %>
    <%= booking.start.strftime("%d/%m/%Y %I-%M%p") %>
    <%= booking.finish.strftime("%d/%m/%Y %I-%M%p") %>
    <%= booking.space.name %>
<% end %>
=======
<section>
  <%# impliment/display the capacity in squares/grid %>

  <div class="movie-container">
    <label>Pick a movie:</label>
    <select id="movie">
      <option value="10">Avengers: Endgame ($10)</option>
      <option value="12">Joker ($12)</option>
      <option value="8">Toy Story 4 ($8)</option>
      <option value="9">The Lion King ($9)</option>
    </select>
  </div>

  <ul class="showcase">
    <li>
      <div class="seat"></div>
      <small>N/A</small>
    </li>
    <li>
      <div class="seat selected"></div>
      <small>Selected</small>
    </li>
    <li>
      <div class="seat occupied"></div>
      <small>Occupied</small>
    </li>
  </ul>

  <div class="container">
    <div class="screen"></div>

    <div class="row">
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
    </div>
    <div class="row">
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat occupied"></div>
      <div class="seat occupied"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
    </div>
    <div class="row">
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat occupied"></div>
      <div class="seat occupied"></div>
    </div>
    <div class="row">
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
    </div>
    <div class="row">
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat occupied"></div>
      <div class="seat occupied"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
    </div>
    <div class="row">
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat occupied"></div>
      <div class="seat occupied"></div>
      <div class="seat occupied"></div>
      <div class="seat"></div>
    </div>
  </div>

  <p class="text">
    You have selected <span id="count">0</span> seats for a price of $<span
      id="total"
      >0</span
    >
  </p>@q<<>>

  <script src="seatselector.js"></script>

</section>


<%# https://www.interact-lighting.com/global/what-is-possible/interact-office/workspace-app %>
<%# url('https://www.interact-lighting.com/b-dam/b2b-li/en_AA/interact/what-is-possible/interact-office/software/workspace-app/workspace-app-masthead-t.jpg') %>


<%# eventListener on click %>
>>>>>>> master
