<!-- This example requires Tailwind CSS v2.0+ -->
<div class="relative bg-blue-800">
  <div class="max-w-7xl mx-auto px-4 sm:px-6">
    <div class="flex justify-between items-center py-6 md:justify-start md:space-x-10">
      <div class="flex justify-start lg:w-0 lg:flex-1">
        <a href="#">
          <span class="sr-only">Workflow</span>
          <img class="h-8 w-auto sm:h-10" src="https://tailwindui.com/img/logos/workflow-mark-blue-600.svg" alt="">
        </a>
          <span class="ml-3 text-xl text-gray-100">Office Connect</span>
      </div>
      <div class="-mr-2 -my-2 md:hidden">
        <button type="button" class="rounded-md p-2 inline-flex items-center justify-center text-gray-100 hover:text-gray-400 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-blue-600" aria-expanded="false">
          <span class="sr-only">Open menu</span>
          <!-- Heroicon name: outline/menu -->
          <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </button>
      </div>
      <nav class="hidden md:flex space-x-10">
        <div class="relative">
          <!-- Item active: "text-gray-900", Item inactive: "text-gray-500" -->
          <button type="button" class="text-gray-100 group rounded-md inline-flex items-center text-base font-medium hover:text-gray-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-600" aria-expanded="false">

            <span>About</span>
            <!--
              Heroicon name: solid/chevron-down

              Item active: "text-gray-600", Item inactive: "text-gray-400"
            -->

          </button>

          <!--
            'Solutions' flyout menu, show/hide based on flyout menu state.

            Entering: "transition ease-out duration-200"
              From: "opacity-0 translate-y-1"
              To: "opacity-100 translate-y-0"
            Leaving: "transition ease-in duration-150"
              From: "opacity-100 translate-y-0"
              To: "opacity-0 translate-y-1"
          -->

        </div>
        <%= link_to "Booking", bookings_path, class: "nav-link" %>
        <%# <a href="" class="text-base font-medium text-gray-100 hover:text-gray-400">
          Booking
        </a> %>
        <a href="#" class="text-base font-medium text-gray-100 hover:text-gray-400">
          How to
        </a>

        <div class="relative">
          <!-- Item active: "text-gray-900", Item inactive: "text-gray-500" -->
          <button type="button" class="text-gray-100 group rounded-md inline-flex items-center text-base font-medium hover:text-gray-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" aria-expanded="false">
            <span>More</span>
            <!--
              Heroicon name: solid/chevron-down

              Item active: "text-gray-600", Item inactive: "text-gray-400"
            -->

          </button>

          <!--
            'More' flyout menu, show/hide based on flyout menu state.

            Entering: "transition ease-out duration-200"
              From: "opacity-0 translate-y-1"
              To: "opacity-100 translate-y-0"
            Leaving: "transition ease-in duration-150"
              From: "opacity-100 translate-y-0"
              To: "opacity-0 translate-y-1"
          -->

        </div>
      </nav>
      <div class="hidden md:flex items-center justify-end md:flex-1 lg:w-0">

        <% if current_user %>
           <%= link_to destroy_user_session_path, method: :delete, class:'whitespace-nowrap text-base font-medium text-gray-100 hover:text-gray-400' do %>
            Logout
          <% end %>
        <% else %>
          <%= link_to new_user_session_path, class:'whitespace-nowrap text-base font-medium text-gray-100 hover:text-gray-400' do %>
            Sign in
          <% end %>
          <%= link_to new_user_registration_path, class:'ml-8 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 shadow rounded-md shadow-sm text-base font-medium text-white bg-blue-600 hover:bg-blue-700' do %>
            Sign up
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <!--
    Mobile menu, show/hide based on mobile menu state.

    Entering: "duration-200 ease-out"
      From: "opacity-0 scale-95"
      To: "opacity-100 scale-100"
    Leaving: "duration-100 ease-in"
      From: "opacity-100 scale-100"
      To: "opacity-0 scale-95"
  -->

</div>
